---
---

/*
 * This file controls what is imported from /_sass
 */

@import
    "vendor/breakpoint/breakpoint",
    "themes",
    "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
    "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",
    "include/mixins",
    "vendor/susy/susy",
    "layout/reset",
    "layout/base",
    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",
    "layout/forms",
    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",
    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
;

/* ADDED OVERRIDE BELOW THE SEMICOLON */
.sidebar img, 
.author__avatar img, 
.author__avatar, 
.sidebar .profile-pic {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
/* Brute Force Academic Styling */
body, p, li, .page__content, .archive {
  font-family: "Lora", "Georgia", "Times New Roman", serif !important;
  font-size: 15px !important; /* Forces a specific size */
  line-height: 1.6 !important;
  -webkit-font-smoothing: antialiased;
}

/* Specific fix for Publication Titles */
h2.archive__item-title, .archive__item-title a {
  font-family: "Lora", "Georgia", serif !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
  color: #111 !important;
}
